* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    background-image: linear-gradient(to right, blue , white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo{
    color: white;
    justify-content: center;
    /* align-items: center; */
}