* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding-top: 60px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#containerMaster {
    width: 100%;
    height: auto;
    display: flex;
}

/* Manutenção */
.manutencao{
    margin-left: auto;
    margin-right: auto;
}

.img-manutencao{
    width: 500px;
    height: 500px;   
}